<!DOCTYPE html>
<html ng-app="CoordApps">
<head>
	<title>Deadlines</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body ng-controller="app-controller as Ctrl">
<h1 class="horizontal">Coordinator App Submission</h1>
<div style="margin: 30px;">
		<h3>Submission Guidelines</h3>
		<ol>
			<li>Recent grade card needs to be attached in the application. Workflow screenshots are also acceptable.</li>
			<li>Submit your apps only in PDF format.</li>
			<li>Name your application as <b>Name_RollNum_Department_SubDepartment.pdf</b></li>
			<li>There are two steps in the submission process.
				<ul>
					<li>Mail your apps to the corresponding cores whose details can be found <a href="#" ng-click="Ctrl.show()">here</a>.</li>
					<li>Fill the <a href="https://goo.gl/forms/5ipkBSBsZpygL6SE2" target="_blank">form</a>. Smail login is needed to fill the form.</li>
				</ul>
			</li>
		</ol>
	</div>
<div ng-show="Ctrl.display">
<h2 class="horizontal">Contact Details and deadlines for submitting Coordinator Applications</h2>
<table>
	<tr>
		<th>Department</th>
		<th>Emails</th>
		<th>Position</th>
		<th>Deadline</th>
	</tr>
</table>
<table ng-repeat="(key, val) in Ctrl.depts">
	<tr>
		<td rowspan="9"><b>{{key}}</b></td>
		<td rowspan="9"><p ng-repeat="email in val.emails">{{email}}@shaastra.org</p></td>
	</tr>
	<tr ng-repeat="(k, v) in Ctrl.app[key]">
		<td>{{v.name}}</td>
		<td>{{v.date}}</td>
	</tr>
</table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="main.js"></script>
</body>
</html>