<!DOCTYPE html>
<html ng-app="CoordApps">
<head>
	<title>Deadlines</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body ng-controller="app-controller as Ctrl">
<div id="main">

<div>
<h2 class="horizontal">Contact Details and deadlines for submitting Coordinator Applications</h2>
<table>
	<tr>
		<th>Department</th>
		<th>Emails</th>
		<th>Position</th>
		<th>Deadline</th>
	</tr>
</table>
<table ng-repeat="(key, val) in Ctrl.depts">
	<tr>
		<td rowspan="9"><b>{{key}}</b></td>
		<td rowspan="9"><p ng-repeat="email in val.emails">{{email}}@shaastra.org</p></td>
	</tr>
	<tr ng-repeat="(k, v) in Ctrl.app[key]">
		<td>{{v.name}}</td>
		<td>{{v.date}}</td>
	</tr>
</table>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="main.js"></script>
</body>
</html>