<!DOCTYPE html>
<html lang="en" ng-app="CoordApps">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shaastra 2019</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"> </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <!-- Angular Material requires Angular.js Libraries -->
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
     <!-- Angular Material Library -->
     <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- <link href="fonts.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="styles.css" rel="stylesheet">

  </head>

  <body ng-controller='app-controller as Ctrl'>

    <div class="masthead">
      <div class="masthead-bg"></div>
      <div class="container h-100"><br><br>
        <div class="mobile-only">
          <h1 class="stitle">Coordinator Applications</h1>
        </div>
        <div>

          <img src="logo.png" class="slogo" style="filter:saturate(600%);">
        </div>
        <div class="desktop-only">
          <h1 class="stitle">Coordinator Applications</h1>
        </div>

      </div>
    </div>

    <div class="social-icons">
      <!-- <div layout="column"> -->
      <md-input-container>
            <label>Select Department</label>
            <md-select id="dept" ng-model="department" class="selectbox" >
              <md-option ng-repeat="(key,val) in Ctrl.depts" ng-value="key" >
                <span style="font-size:0.6em;padding-top:0.6em;">{{key}}</span>
              </md-option>
            </md-select>
          </md-input-container>
<br><br>
  <!-- Events -->
    <div ng-show="department == 'Events'">
          <md-input-container>
                <label>Select Position</label>
                <md-select ng-model="position" class="selectbox">
                  <md-option ng-repeat="(key,value) in Ctrl.app[department]" ng-value="key">
                    <span style="font-size:0.6em;padding-top:0.6em;">{{key}}</span>
                  </md-option>
                </md-select>
          </md-input-container>
          <br><br>
          <md-input-container>
                <label>Select Vertical</label>
                <md-select ng-model="vertical"  class="selectbox" >
                  <md-option ng-repeat="(key,value) in Ctrl.event[position]" ng-value="value">
                    <span style="font-size:0.6em;padding-top:0.6em;">{{value.name}}</span>
                  </md-option>
                </md-select>
          </md-input-container>
      </div>
      <br><br>

          <!-- Not events -->
          <div ng-hide="department == 'Events'">
          <md-input-container>
                <label>Select Position</label>
                <md-select ng-model="position" class="selectbox">
                  <md-option ng-repeat="(key,value) in Ctrl.app[department]" ng-value="value">
                    <span style="font-size:0.6em;padding-top:0.6em;">{{key}}</span>
                  </md-option>
                </md-select>
          </md-input-container>
          <br><br>
        </div>
            <!--  <a href="submit.html" style="color:inherit;" target="_blank"><md-button  style="font-size: 18px">Submit Application</md-button></a> -->
              <md-button class="getappbutton" ng-click="Ctrl.showPDF()" style=" font-size:18px;" >Get Application</md-button>
<br>
    <!-- </div> -->
     </div>

    <!-- Bootstrap core JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
      <script src="main.js"></script>

  </body>

</html>
