
.horizontal{
	text-align: center;
	
}

.item{
	padding: 0px 50px;
}

.vertical{
	vertical-align: center;
}

.margin1{
	margin-top: 10px;
}

.margin2{
	margin-top: 25px;
	margin-bottom: 25px;
}

label,option, input { font-size: 18px;}

table {
	width: 100%;
	margin-top: 16px;
}
table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

td{
	width: 200px;
	padding: 5px;
	text-align: center;
}

table tr:nth-child(even) {
    background-color: #bbbbbb;
}
table tr:nth-child(odd) {
    background-color: #;
}