
.horizontal{
	text-align: center;
	
}

.item{
	padding: 0px 50px;
}

.vertical{
	vertical-align: center;
}

.label{
	background-color: #5bc0d3;
}
.margin3{
	margin-left: 20px;
}
.margin1{
	margin-top: 10px;
}

.margin2{
	margin-top: 25px;
	margin-bottom: 25px;
}

.margin4{
	margin-top: -50px;
}

label,option, input { font-size: 18px;}

table {
	width: 100%;
	margin-top: 16px;
}
table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
}

td, th{
	width: 250px;
	padding: 5px;
	text-align: center;
}

table tr:nth-child(even) {
    background-color: #bbbbbb;
}
table tr:nth-child(odd) {
    background-color: #;
}

.right{
	position: absolute;
	right: 0px;
	margin: 10px;
}

a:visited {
	color: #428bca;
}

li{
	padding: 2px;
}